.backButton {
  float: left;
}

.nextButton {
  float: right;
}
.sliderCustom {
  height: 18rem;
  width: 100%;
  //display: d-flex;
  justify-content: center;
  align-items: center;
}

.carouselBanner {
  min-height: 85vh;
}
