@import "~bootstrap/scss/bootstrap";
@import "core/core.scss";
@import "core/button.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Yusei+Magic&display=swap');

body {
  background-color: white;
  color: #454545;
  font-family: Roboto, sans-serif;
  margin: 50px 30px 30px;
}

h1 {
 color: #454545;
  font-family: Yusei Magic, sans-serif;
}

h2 {
  color: #FE4A49;
  font-family: Yusei Magic, sans-serif;
}
